@charset "utf-8";

#root {
    box-sizing: border-box;
    /* position: fixed; */
    width: 100%;
    background-color: black;
    height: 100px;
    box-shadow: 0 0 50px 0 rgba(30, 30, 30);
    font-family: Arial, Helvetica, sans-serif;
}

.nav-container {
    position: relative;
    top: 40px;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1280px;
}

.clearfix::before {
    content: '';
    display: block;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* Navigation */
.logo {
    position: relative;
    left: 80px;
    top: -20px;
    float: left;
}

.logo a {
    color: white;
}

.m-gnb {
    float: right;
    z-index: 50;
    width: auto;
}

.links {
    position: relative;
    top: 20px;
}

.links li {
    display: inline-block;
    margin: 0 25px 0 25px;
    text-decoration: none;
}

.links li a {
    color: white;
}

/* Main */
.main-container {
    position: relative;
    top: 70px;
    left: 110px;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1280px;
}

.main-container>p {
    display: inline;
    position: relative;
    left: 500px;
    border-bottom: 1px solid black;
}

.main-container>a {
    display: inline;
    position: relative;
    left: 750px;
    margin-left: 100px;
}

.main-container>ul {
    display: block;
}

.main-container>ul::before,
.main-container>ul::after {
    content: '';
    display: table;
}

.main-container>ul::after {
    clear: both;
}

.main-container>ul li {
    float: left;
    width: 245px;
    margin-left: 40px;
    padding: 0;
}

.main-container>ul li.first {
    margin-left: 0;
}

.movie-list {
    position: relative;
    top: 20px;
}

.main-container ul li .movie-list-info {
    overflow: hidden;
    display: block;
    position: relative;
    width: 100%;
    height: 352px;
    border-radius: 5px;
    background-color: #24202b;
}

.main-container>ul li .movie-list-info .rank {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 150px;
    color: #fff;
    padding: 10px 0 0 15px;
    line-height: 1.1;
    font-size: 2em;
    font-style: italic;
    font-family: 'Roboto';
    font-weight: 300;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.main-container>ul li .movie-list-info img.poster {
    display: block;
    width: 245px;
    height: 352px;
    border-radius: 5px;
}

.main-container>ul li .movie-list-info .wrap {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 25px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}

.main-container>ul li .movie-list-info .wrap:hover,
.main-container>ul li .movie-list-info .wrap:focus {
    color: #fff;
    text-decoration: none;
}

.main-container>ul li .movie-list-info .wrap .summary {
    overflow: hidden;
    height: 152px;
}

.btn-util {
    margin: 5px 10px 10px 5px;
}

.book {
    display: inline-block;
    margin-left: 10px;
}

.btn-like .btn-gblue {
    display: inline-block;
    color: black;
}

.plus{
    position: relative;
    left: 5px;
    top: 2px;
}

.search-link{
    overflow: hidden;
    display: block;
    height: 75px;
    padding: 0 20px 0 20px;
    margin: 120px 0 0 0;
    background-color: black;
    box-shadow: 0 0 50px 0 rgba(30, 30, 30);
}

.search-link .cell{
    position: relative;
    top: 15px;
    left: 350px;
    display: inline-block;
    text-align: center;
    margin: 10px 0 10px 0;
    padding: 0 50px 0 50px;
    vertical-align: middle;
    border-left: 1px solid #423e3e;
    
}

.search-link .cell a{
    color: white;
}

.search-link .cell:first-child {
    border-left: 0;
}

.search-link .search {
    position: relative;
    float: left;
    width: 200px;
    height: 30px;
    border-bottom: 1px solid #423e3e;
}

.search-link .search .input-text {
    position: relative;
    float: left;
    display: block;
    height: 100%;
    border: 0;
    background-color: transparent;
    color: #fff;
}

.search-btn{
    position: relative;
    top: 8px;
    left: 180px;
    width: 20px;
    height: 20px;
    display: block;
    padding: 0;
    font-size: 0;
    line-height: 0;
    background-image: url(../resources/ico-search-white.png);
    background-repeat: no-repeat;
}

.iconset{
    position: absolute;
    left: 25px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* Footer */
#footer {
    position: relative;
    top: 150px;
    height: 150px;
    width: 100%;
    background-color: #000000;
    color: white;
    box-shadow: 0 0 50px 0 rgba(30, 30, 30);
}

.footer-container {
    position: relative;
    bottom: 60px;
    width: 100%;
    height: 50px;
    background-color: gray;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.sect-smuse {
    position: absolute;
    width: 100%;
    bottom: 105px;
}

.sect-smuse ul {
    position: relative;
    width: 100%;
    height: 75px;
    padding-left: 170px;
}

.sect-smuse li {
    position: relative;
    top: 135px;
    display: inline-block;
    margin: 0 25px 0 25px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.sect-smuse li a {
    height: 50px;
    display: inline-block;
    overflow: hidden;
    background-image: url(../resources/common_sprite_area_v4_2016.png);
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
}

.sect-smuse li>a.dx {
    width: 49px;
    background-position: 0px -768px;
}

.sect-smuse li>a.imax {
    width: 59px;
    background-position: -74px -768px;
}

.sect-smuse li>a.screenx {
    width: 88px;
    background-position: -159px -768px;
}

.sect-smuse li>a.spherex {
    width: 76px;
    background-position: -273px -768px;
}

.sect-smuse li>a.tempur {
    width: 55px;
    background-position: -480px -768px;
}

.sect-smuse li>a.gold {
    width: 84px;
    background-position: -567px -768px;
}

.sect-smuse li>a.cine {
    width: 89px;
    background-position: -679px -768px;
}

.sect-smuse li>a.cinema {
    width: 86px;
    background-position: 0 -826px;
}

.sect-smuse li>a.kids {
    width: 70px;
    background-position: -113px -826px;
}

.sect-smuse li>a.cinenforet {
    width: 120px;
    background-position: -207px -826px;
}